@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --background: #0a192f;
  --foreground: #0a192f;
  --green : #64ffda;
  --slate-light : #ccd6f6;
  --slate : #8892b0;
  --dark-slate : #495670;  
  --light-navy : #112240;
  --font-roboto : "Roboto Mono", monospace;
  --transition :  all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
  --font-inter : "Inter", sans-serif;
  --light-navy : #112240;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);
  
}

.topbar{
  backdrop-filter: blur(8px);
  z-index: 20;
}

.logo{
  position: relative;
  color: var(--green);
  border: 0.1px solid var(--green);
  padding: 0.50rem 1rem;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.logo:hover{
  transform: translate(-3px, -3px); /* Movimenta o botão para cima e para a direita */
  box-shadow: 3px 3px var(--green)
}
.green{
  color: var(--green);
}

.botao {
  position: relative;
  color: var(--green);
  border: 0.1px solid var(--green);
  border-radius: 5px;
  padding: 0.50rem 1rem;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.botao:hover {
  transform: translate(-3px, -3px); /* Movimenta o botão para cima e para a direita */
  box-shadow: 3px 3px var(--green)
}

.gray{
  color: var(--slate-light);
}


.title{
  color: var(--slate-light);
  font-size: 70px;
  font-family:  "Inter", sans-serif;
  font-weight: 600;
}

.sub-title{
  color: var(--slate);
  font-size: 60px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
.texts, .topic{
  color: var(--slate);
  font-family: var(--font-inter)
}
.about{
  font-family: var(--font-inter);
  font-weight:540
}
.minha-foto,.project-photo {
  filter: sepia(50%) hue-rotate(140deg) saturate(200%) brightness(90%);
  z-index: 1;
}
.arc {
  position: absolute; /* Define que o arco será posicionado em relação ao contêiner pai */
  z-index: 0; /* Garante que o arco fique atrás da imagem */
  border: 2px solid var(--green); /* Borda com a cor desejada */
  color: var(--green);
  width: 250px;
  height: 320px;
  transform: translate(10px, 20px); /* Move o arco para baixo e para a direita */
}
.div-foto:hover{ 
  .minha-foto{
    transform: translate(-3px, -3px);
  };
  .arc{
    transform: translate(13px, 23px); 
  }
}

.arrow{
  font-size: 10px;
}

.experience{
  font-family: var(--font-inter);
  color: var(--slate);
}

.projects{
  font-family: var(--font-inter);
}

.project-desc{
  background-color: var(--light-navy);
  color: var(--slate-light);
  font-family: var(--font-inter);
  z-index: 9;
  margin-left: 28rem;
}

.links:hover{
  transform: translate(0, -5px);
  color: var(--green);
  transition: all 0.5s;
}